<div class="kss-markup {{classes}}">
    <div class="kss-markup__container">
        <pre class="kss-markup__code"><code class="kss-markup__code-container language-markup">{{markup}}</code></pre>
    </div>
</div>
