<div class="kss-modifier {{ default className "kss-modifier--default" }}">
    <div class="kss-modifier__header">
        <legend class="kss-modifier__heading">{{ name }}</legend>
        {{#if description }}<p class="kss-modifiers__description">{{{ description }}}</p>{{/if}}
    </div>
    <div class="kss-modifier__example">{{{ markup }}}</div>
</div>
