.kss-component {}
    .kss-component__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }


    .kss-component__toolbar {
        width: initial;
    }
